spring:
  application:
    name: study
  datasource:
    # MySQL
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/test?&serverTimezone=Asia/Seoul
    username: root
    password: 1234
  sql:
    init:
        mode: never
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        show_sql: true
        format_sql: true
        use_sql_comments : true
        hbm2ddl:
          auto: update
        default_batch_fetch_size: 1000
logging:
  level:
    root: INFO
    com.example: DEBUG
  file:
    path: logs